<html>
<head>    
    <title>FTC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Attacking a spaceship</h1>
<form method="POST" action="{{ url_for('attack') }}">
    <fieldset width: 500px margin:auto border: 1px solid rgb(255, 255, 255)>
        <legend>Please choose the spaceship you want to attack: </legend>
        {{ form.csrf_token }}
        {{ form.attacker_ship.label }}
        {{ form.attacker_ship }}
        <ul>
            {% for error in form.attacker_ship.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.attacked_ship.label}}
        {{ form.attacked_ship}}
        <ul>
            {% for error in form.attacked_ship.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
        <p>Make sure you only specify the ID of the ship, for example: 0.</p>
    </fieldset>
    <br>
    <input type="submit" value="Attack!">
</form>
<h2>{{ message }}</h2>
</form>
</body>
</html>