<html>
<head>
    <title>FTC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Creating a spaceship</h1>
<form method="POST" action="{{ url_for('create_ship') }}">
    <fieldset width: 500px margin:auto border: 1px solid rgb(255, 255, 255)>
        <legend>Please choose the parameters for the new spaceship:</legend>
        {{ form.csrf_token }}
        {{ form.spaceship_life.label }}
        {{ form.spaceship_life }}
        <ul>
            {% for error in form.spaceship_life.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
    </fieldset>
<br>
<input type="submit" value="Create">
<button type="button" onclick="window.location.href='/home'">Home</button>
</form>
<h2>{{ message }}</h2>
</body>
</html>